-provide(:title, "Contact")
%h1 My Contact Info
%p This is my contact information in case you even care.
%ul
  %li Mickey Da Best
  %li 784-636-3633
  %li 18 Mooresland Wind Ave
  Bruinswich NA, 49200
