//EXCERCISE..Still trying to see best way to run js in one single page..
//DONE...check the micropost_counter.js.coffee
//Shows home page with different information depening on user being signed in.
-if signed_in?
  = render 'static_pages/signed_in'
-else
  = render 'static_pages/not_signed_in'
= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'
