%h1= @greeting

%p Please verify your account by clicking on the following link. This is done to ensure that you are the  person trying to access the site.

= link_to("Your profile", user_url(@user))
