.feed_options
  = render partial: "shared/delete_micropost", locals: { micropost: micropost }
  = link_to("reply", reply_micropost_path(micropost), remote: true, class:"reply_to", data: { username: micropost.user.username }) unless micropost.user_id == current_user.id 